In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('https://raw.githubusercontent.com/Thinkful-Ed/curric-data-001-data-sets/master/un/un.csv')

In [11]:
df.shape

(207, 14)

In [28]:
df.notnull().sum()

country                   207
region                    207
tfr                       197
contraception             144
educationMale              76
educationFemale            76
lifeMale                  196
lifeFemale                196
infantMortality           201
GDPperCapita              197
economicActivityMale      165
economicActivityFemale    165
illiteracyMale            160
illiteracyFemale          160
dtype: int64

In [35]:
df.dtypes

country                    object
region                     object
tfr                       float64
contraception             float64
educationMale             float64
educationFemale           float64
lifeMale                  float64
lifeFemale                float64
infantMortality           float64
GDPperCapita              float64
economicActivityMale      float64
economicActivityFemale    float64
illiteracyMale            float64
illiteracyFemale          float64
dtype: object

In [43]:
num_countries = df['country'].nunique
print num_countries

<bound method Series.nunique of 0               Afghanistan
1                   Albania
2                   Algeria
3            American.Samoa
4                   Andorra
5                    Angola
6                   Antigua
7                 Argentina
8                   Armenia
9                 Australia
10                  Austria
11               Azerbaijan
12                  Bahamas
13                  Bahrain
14               Bangladesh
15                 Barbados
16                  Belarus
17                  Belgium
18                   Belize
19                    Benin
20                   Bhutan
21                  Bolivia
22                   Bosnia
23                 Botswana
24                   Brazil
25                   Brunei
26                 Bulgaria
27             Burkina.Faso
28                  Burundi
29                 Cambodia
               ...
177               Swaziland
178                  Sweden
179             Switzerland
180                   Syria
181              Tajikistan
182                Tanzania
183                Thailand
184                    Togo
185                   Tonga
186     Trinidad.and.Tobago
187                 Tunisia
188                  Turkey
189            Turkmenistan
190                  Tuvalu
191                  Uganda
192                 Ukraine
193    United.Arab.Emirates
194          United.Kingdom
195           United.States
196                 Uruguay
197              Uzbekistan
198                 Vanuatu
199               Venezuela
200                Viet.Nam
201          Virgin.Islands
202          Western.Sahara
203                   Yemen
204              Yugoslavia
205                  Zambia
206                Zimbabwe
Name: country, dtype: object>

In [45]:
from scipy.cluster.vq import kmeans

In [46]:
kmeans(df, 10, iter=10)

ValueError: object arrays are not supported